input[type="date"] {
    line-height: inherit;
    height: 38px;
}

.header {
    background-color: #373a3c;
    color: #eceeef;
    font-size: 1.5rem;
}


.table {
    margin-top: 3%;
    table-layout: fixed;
}

th:first-child {
    width: 25%;
}

th:nth-child(2) {
    width: 25%;
}

th:last-child {
    width: 16%;
}

.tag {
    background-color: #dddddd;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 5px;
    float: left;
}


.btn-danger {
    margin-top: 2%;
}


.todo {
    padding: 19px 12px;
}


.c-indicator {
    margin-top: 1px;
}

.c-checkbox input:checked ~ .c-indicator {
    background: red url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iOHB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDggOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xLjQsMEwwLDEuNGwwLjcsMC43bDEuOCwxLjhMMC43LDUuN0wwLDYuNGwxLjQsMS40bDAuNy0wLjdsMS44LTEuOGwxLjgsMS44bDAuNywwLjdsMS40LTEuNEw3LjEsNS43DQoJTDUuMywzLjlsMS44LTEuOGwwLjctMC43TDYuNCwwTDUuNywwLjdMMy45LDIuNUwyLjEsMC43QzIuMSwwLjcsMS40LDAsMS40LDB6Ii8+DQo8L3N2Zz4NCg==) no-repeat center center;
    background-size: 50% 50%;
}


.done {
    text-align: right;
}

.done .c-input {
    margin-top: 2px;
    margin-left: 10%;
}
