input {
    border: none;
    display: inline;
}

input[type="text"]:focus {
    outline: none;
}

.form-control {
    min-height: 38px;
    overflow: hidden;
}

.form-control span {
    white-space: nowrap;
}

.selected {
    border-color: #66afe9;
    outline: none;
}

.listEntry {
    background-color: #dddddd;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 1%;
    border-radius: 5px;
    float: left;
}

.listEntry > a {
    padding-left: 2%;
    color: black;
    font-weight: bold;
}

.selectedEntry {
    color: #ffffff;
    background-color: #0275d8;
}


input[type=text] {
    width: 100%;
}
